[submodule "dep/rsl_rl"]
	path = dep/rsl_rl
	url = https://github.com/leggedrobotics/rsl_rl.git
	branch = main
[submodule "dep/IsaacLab"]
	path = dep/IsaacLab
	url = https://github.com/isaac-sim/IsaacLab.git
	branch = main
